<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
  </head>
  <body bgcolor='#000'>
    <div class="container-lg px-3 my-5 markdown-body">
    <center>
    <img src='../cropped-dv-wright-dd-hdr-2018-sm.png' width="775" height="140" />
    <h3 style="color:#FFF;">DV Wright</h3>
    <div style="color:#FFF;">
      <a href='https://www.youtube.com/channel/UC_qNu0ioOi01N0vWE9zyufg' style="color:#fff;">[ YouTube |</a>
      <a href='https://twitter.com/dvwright' style="color:#fff;"> Twitter ]</a>
    </div>

    <a style="color:#fff" href='https://davidvwright.bandcamp.com'>https://davidvwright.bandcamp.com</a>
    <h3 style="color:#FFF;">With Groups:</h3>
    <a style="color:#fff" href="https://goo.gl/Hi361g">Orbital Quintet</a><br/>
    <a style="color:#fff" href="https://cutt.ly/weOXoZw">Ghost Town Messengers</a><br/>
    <a style="color:#fff" href="https://thetoagquartet.bandcamp.com">TOaG Quartet</a><br/>
    <a style="color:#fff" href="https://stanleylighthead.bandcamp.com">Stanley Lighthead</a></br>
    <a style="color:#fff" href="https://ptp-group.bandcamp.com">Phonograph Team Project</a></br> 
    <a style="color:#fff" href="https://open.spotify.com/artist/2Mgp6XPP4yV7xSq7dufCrA">Tommaso Monopoli</a></br>
    <a style="color:#fff" href="https://grw-group.bandcamp.com/album/in-play">Grasso/Rabosio/Wright</a></br>
    <a style="color:#fff" href="https://cutt.ly/deOCcVV">Roberto Rabosio</a></br>


    <br/>
    <br/>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/6Hv-pvKkyII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br/>

      {{ content }}

       <h3 style="color:#FFF;">Discography</h3>
       <div style="color: white;">
       Discography    			
       <p><b>Artist: </b> The TOaG Quartet<br/>
       <b>Album: </b> TBD (live album release)<br/>
       <b>Released: </b> 2018?<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar<br/>
       <b>Genre: </b>Modern Jazz/Fusion</p>
       <hr  width="50%"/>
       <p><b>Artist: </b> DV Wright<br/>
       <b>Album: </b> Four Thirty Lights<br/>
       <b>Released: </b> 2018<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Jazz-Rock Fusion</p>
       <p><strong>Released</strong></p>
       <hr  width="50%"/>
       <b>Artist: </b> Grasso/Rabosio/Wright<br/>
       <b>Album: </b><a href="https://grw-group.bandcamp.com/album/in-play">In Play!</a><br/>
       <b>Released: </b> 2018-09-29<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer<br/>
       <b>Genre: </b>Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> DV Wright<br/>
       <b>Album: </b><a href="https://davidvwright.bandcamp.com/album/cay-station">Cay Station</a><br/>
       <b>Released: </b> 2018-09-08<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>&#8220;Latin Jazz&#8221;</p>
       <hr  width="50%"/>
       <b>Artist: </b> Stanley Lighthead<br/>
       <b>Album: </b><a href="https://stanleylighthead.bandcamp.com/">#getlightheaded</a><br/>
       <b>Released: </b> 2018-09-03<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer<br/>
       <b>Genre: </b>Jam Band/Funk/Rock/Improv</p>
       <hr  width="50%"/>
       <b>Artist: </b> DV Wright<br/>
       <b>Album: </b><a href="https://davidvwright.bandcamp.com/album/leftway">Leftway</a><br/>
       <b>Released: </b> 2018-07-03<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Jazz-Rock Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> Roberto Rabosio<br/>
       <b>Album: </b><a href="https://robertorabosio.bandcamp.com/album/parallel-compositions">Parallel Compositions</a><br/>
       <b>Released: </b> 2018-06-09<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar<br/>
       <b>Genre: </b>Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b><a href="https://www.facebook.com/OrbitalQuintet">Orbital Quintet</a><br/>
       <b>Album: </b><a href="https://orbital-quintet.bandcamp.com/album/vol-2">Vol. 2</a><br/>
       <b>Released: </b> End of May 2018<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer<br/>
       <b>Genre: </b>Modern Jazz/Fusion/Brokenbeat</p>
       <hr  width="50%"/>
       <b>Artist: </b><a href="https://officialeeproductions.com/the-toag-quartet">The TOaG Quartet</a><br/>
       <b>Album: </b><a href="https://thetoagquartet.bandcamp.com/releases">Grey and Green</a><br/>
       <b>Released: </b> May 1, 2018<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar<br/>
       <b>Genre: </b>Modern Jazz/Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b><a href="http://phonographteamproject.com/">Phonograph Team Project</a><br/>
       <b>Album: </b><a href="http://phonographteamproject.com/music/peoples/">Peoples</a><br/>
       <b>Released: </b> 2018-04-27<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composition<br/>
       <b>Genre: </b>Contemporary Jazz/Rock/Fusion/Soundtrack</p>
       <hr  width="50%"/>
       <b>Artist: </b> Roberto Rabosio<br/>
       <b>Album: </b><a href="https://robertorabosio.bandcamp.com/album/undergound-project">Underground project</a><br/>
       <b>Released: </b> 2018-02-27<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar<br/>
       <b>Genre: </b>Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> DV Wright<br/>
       <b>Album: </b><a href="https://davidvwright.bandcamp.com/album/passage">Passage</a><br/>
       <b>Released: </b> 2018-01-12<br/>
       <b>Credits: </b> DV Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Modern Jazz</p>
       <hr  width="50%"/>
       <b>Artist: </b> Orbital Quintet<br/>
       <b>Album: </b><a href="https://orbital-quintet.bandcamp.com/releases">Vol. 1</a><br/>
       <b>Released: </b> 2017-05-27<br/>
       <b>Credits: </b> David Wright &#8211; Guitar/Effects on all tracks, Composer: &#8220;Scared Of The Dark&#8221;, &#8220;Lower Orbit&#8221;, &#8220;Blow By Blow&#8221;, &#8220;Seven Bridges For Bedtime&#8221;, Co-Composer: &#8220;Arcophile&#8221;, &#8220;Spontaneous Combustion&#8221;<br/>
       <b>Genre: </b>Modern Jazz/Soundtrack</p>
       <hr  width="50%"/>
       <b>Artist: </b> Roberto Rabosio<br/>
       <b>Album: </b><a href="https://www.amazon.com/gp/product/B071CFNVCN/ref=dm_ws_sp_ps_dp">End Of Works</a><br/>
       <b>Released: </b> 2017-04-10<br/>
       <b>Credits: </b> David Wright &#8211; Guitar on Tracks: Ballad For Seven, Food Social Gap, The Alley, Constant Speed, Night Walk on the Ocean, End of Works<br/>
       <b>Genre: </b>Contemporary Jazz/Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> Phonograph Team Project<br/>
       <b>Album: </b><a href="https://www.amazon.com/gp/product/B01HC4NH2Y/ref=dm_ws_sp_ps_dp">Morph</a><br/>
       <b>Released: </b> 2016-07-17<br/>
       <b>Credits: </b> David Wright &#8211; Guitar/Composition/Engineering/Mastering<br/>
       <b>Genre: </b>Contemporary Jazz/Fusion/Soundtrack</p>
       <hr  width="50%"/>
       <b>Artist: </b> Roberto Rabosio<br/>
       <b>Album: </b><a href="https://play.google.com/store/music/artist/Roberto_Rabosio?id=Ac7p2a43ynatl75afimhs64prhu">Buyer or Drummer?</a><br/>
       <b>Released: </b> 2016-05-01<br/>
       <b>Credits: </b> David Wright &#8211; Guitar on Tracks: &#8220;Sant Montjuic&#8221;, &#8220;Upside Downside&#8221;, &#8220;Espanola way&#8221;<br/>
       <b>Genre: </b>Contemporary Jazz/Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> Dave Wright (&amp; Company)<br/>
       <b>Album: </b> <a href="https://www.amazon.com/Warmin-Up-Dave-Wright/dp/B01DB7GVIS/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815044&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=dave+wright+warmin+up">Warmin&#8217; Up</a><br/>
       <b>Released: </b> 2016-05-15<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>1950&#8217;s Style Jazz, influences, Be-bop, Latin</p>
       <hr  width="50%"/>
       <b>Artist: </b> Tommaso Monopoli<br/>
       <b>Album: </b> <a href="https://www.amazon.com/dp/B014L5M2VE/ref=sr_1_1_rd?_encoding=UTF8&amp;child=B014L5MRBO&amp;qid=1492815076&amp;sr=1-1%3C/a%3E">Accidental Rolling</a><br/>
       <b>Released: </b> 2015-08-24<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar on Tracks 2, 3, 7, 8, 9<br/>
       <b>Genre: </b>Modern Jazz</p>
       <hr  width="50%"/>
       <b>Artist: </b> Phonograph Team Project<br/>
       <b>Album: </b> <a href="https://www.amazon.com/3-Steps-Phonograph-Team-Project/dp/B00ZTR0RBG/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815109&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=Phonograph+Team+Project">3 Steps to 4</a><br/>
       <b>Released: </b> 2015-07-03<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composition<br/>
       <b>Genre: </b>Jazz/Fusion</p>
       <hr  width="50%"/>
       <p><a href="http://marcezmusic.blogspot.it/2015/02/bi-tacora-english.html">[marcelo zallio - BI Tacora]</a><br/>
       <b>Artist: </b> Marcelo Zallio<br/>
       <b>Album: </b> Bi Tacora<br/>
       <b>Released: </b> 2015-01-09<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar on Tracks 1, 4, 7, 9, 12, 13<br/>
       <b>Genre: </b>Jazz/Fusion</p>
       <hr  width="50%"/>
       <b>Artist: </b> Dave Wright<br/>
       <b>Album: </b> <a href="https://www.amazon.com/Blue-Beach-Boardwalk-David-Wright/dp/B00KLPN0M4/ref=sr_1_fkmr0_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815140&amp;sr=1-1-fkmr0&amp;keywords=Dave+Wright++Blue+Beach+Boardwalk">Blue Beach Boardwalk</a><br/>
       <b>Released: </b> 2014-05-27<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Mellow Mainstream Jazz featuring guitar</p>
       <hr  width="50%"/>
       <b>Artist: </b> David Wright<br/>
       <b>Album: </b> <a href="https://www.amazon.com/Music-International-Airport-Hotel-Lounge/dp/B00K9MN6RS/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815173&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=Music+From+The+International+Airport+Hotel+Lounge">Music From The International Airport Hotel Lounge</a><br/>
       <b>Released: </b> 2014-05-19<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Modern Jazz</p>
       <hr  width="50%"/>
       <b>Artist: </b> Tommaso Monopoli<br/>
       <b>Album: </b> <a href="https://www.amazon.com/Autumn-Rome-Tommaso-Monopoli/dp/B0137POYU6/ref=sr_1_2?s=dmusic&amp;ie=UTF8&amp;qid=1492815194&amp;sr=1-2-mp3-albums-bar-strip-0&amp;keywords=Tommaso+Monopoli">Autumn in Rome</a><br/>
       <b>Released: </b> 2014-02-02<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar on tracks (2,3,4,6,10)<br/>
       <b>Genre: </b>&#8220;Modern Jazz&#8221;</p>
       <hr  width="50%"/>
       </a><br/>
       <b>Artist: </b> Dave Wright<br/>
       <b>Album: </b> Juniper Snowberries<br/>
       <b>Released: </b> 2013-12-11<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>&#8220;Modern New Age Jazz&#8221; flavored acoustic guitar</p>
       <hr  width="50%"/>
       <b>Artist: </b> Dave Wright<br/>
       <b>Album: </b> <a href="https://www.amazon.com/Jazz-Social-Dave-Wright/dp/B00EP8ADO6/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815226&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=dave+Wright+Jazz+Social">Jazz Social</a><br/>
       <b>Released: </b> 2013-09-01<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Producer<br/>
       <b>Genre: </b>Mainstream Jazz featuring guitar, reminiscent of Grant Green, Kenny Burrell, Pat Martino</p>
       <hr  width="50%"/>
       <b><a href="https://www.amazon.com/4th-Floor-California/dp/B0015O8FZW/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815252&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=Fourth+Floor+California+-+4th+Floor+California">Fourth Floor California &#8211; 4th Floor California</a></b> Released: 2007-05-21<br/>
       <b>Credits: </b> David Wright &#8211; Guitar/Midi Guitar/Composer/Co-Composer/Co-Producer<br/>
       <b>Genre: </b>Nu Jazz, Chillout, Lounge, Soundtrack, Jazztronica</p>
       <hr  width="50%"/>
       <p><a href="http://cdbaby.com/cd/dwnkjb">@cdbaby</a><br/>
       <b><a href="https://www.amazon.com/Dajinosaurus-David-Wright-Feat-Kinukawa/dp/B0012OB1TW/ref=sr_1_1?s=dmusic&amp;ie=UTF8&amp;qid=1492815275&amp;sr=1-1-mp3-albums-bar-strip-0&amp;keywords=David+Wright+-+Dajinosaurus">David Wright &#8211; Dajinosaurus</a></b> Released: 2006-07-10<br/>
       <b>Credits: </b> David Wright &#8211; Guitar/Midi Guitar/Composer/Co-Producer<br/>
       <b>Genre: </b>Electric Jazz-Fusion</p>
       <hr  width="50%"/>
       <p><a href="http://cdbaby.com/cd/cachet">@cdbaby</a><br/>
       <b><a href="https://www.amazon.com/dp/B000QR0MDW/ref=sr_1_1_rd?_encoding=UTF8&amp;child=B000QL9F5Y&amp;qid=1492815299&amp;sr=1-1%3C/a%3E">Cachet &#8211; (Self titled)</a></b> Released: 2006-09-01 (Recorded 1999)<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Co-Compposer/Co-Producer<br/>
       <b>Genre: </b>Soul/R&amp;B/Pop, Jazz/R&amp;B, 70&#8217;s Soul</p>
       <hr  width="50%"/>
       <p><a href="http://cdbaby.com/cd/dinosaurus">@cdbaby</a><br/>
       <b><a href="https://itunes.apple.com/us/album/roar/id216921646">Dinosaurus &#8211; Roar!</a></b> Released: 2006-09-01 (Recorded 1999)<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Composer/Co-Producer<br/>
       <b>Genre: </b>70&#8217;s style Electric Jazz, Crossover Jazz</p>
       <hr  width="50%"/>
       <p><a href="http://www.cdbaby.com/cd/surreylane2">@cdbaby</a><br/>
       <b>Surrey Lane &#8211; The Long Way Home</b> Released: 2002<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar<br/>
       <b>Genre: </b>Rock, Pop, 90&#8217;s Pop</p>
       <hr  width="50%"/>
       <p><a href="http://www.cdbaby.com/cd/voidlucy">@cdbaby</a><br/>
       <b>Void Lucy &#8211; Seems So Charming</b> Released: 2001<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar/Co-Composer<br/>
       <b>Genre: </b>Rock, Modern Rock, Emo-Hard Rock</p>
       <hr  width="50%"/>
       <p><a href="http://www.cdbaby.com/cd/surrey">@cdbaby</a><br/>
       <b>Surrey Lane &#8211; (Self Titled)</b> Released: 1999<br/>
       <b>Credits: </b> Dave Wright &#8211; Guitar<br/>
       <b>Genre: </b>Pop, Folky Pop/Rock</p>
    </div>
    </center>

    </div>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
